<a href="https://colab.research.google.com/github/Lily-Derusso/CSC221_jderu004/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TIY 4-1
pizzas = ['cheese pizza', 'pizza with bacon', 'white pizza']
for pizza in pizzas:
    print(f"One of my favorite pizzas is {pizza}.")
print("Pizza is one of my favorite foods")

One of my favorite pizzas is cheese pizza.
One of my favorite pizzas is pizza with bacon.
One of my favorite pizzas is white pizza.
Pizza is one of my favorite foods

In [ ]:
#TIY 4-2
sea_animals = ['dolphin', 'shark', 'orca']
for animal in sea_animals:
    print(f"A {animal} wouldn't make a good pet.")
print("All of these sea animals don't belong as pets.")

A dolphin wouldn't make a good pet.
A shark wouldn't make a good pet.
A orca wouldn't make a good pet.
All of these sea animals don't belong as pets.

In [ ]:
#TIY 4-3
for number in range(1, 21):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#TIY 4-4 it runs but takes a long time and a lot of space
for number in range(1, 1000000):
    print(number)

In [ ]:
#TIY 4-5
number = list(range(1, 1000000))
print(min(number))
print(max(number))
print(sum(number))

1
999999
499999500000

In [ ]:
#TIY 4-6
for number in range(1, 20, 2):
    print(number)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#TIY 4-7
for number in range(3, 31, 3):
    print(number)

3
6
9
12
15
18
21
24
27
30

In [ ]:
#TIY 4-8
for number in range(1, 11):
    print(number**3)

1
8
27
64
125
216
343
512
729
1000

In [ ]:
#TIY 4-9
number = [value**3 for value in range(1, 11)]
print(number)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#TIY 4-10
number = list(range(1, 21))
print(f"The first 3 numbers are {number[:3]}")
print(f"3 numbers in the middle are {number[10:13]}")
print(f"The last 3 numbers are {number[-3:]}")

The first 3 numbers are [1, 2, 3]
3 numbers in the middle are [11, 12, 13]
The last 3 numbers are [18, 19, 20]

In [ ]:
#TIY 4-11
#TIY 4-12?
pizzas = ['cheese pizza', 'pizza with bacon', 'white pizza']
friends_pizza = pizzas[:]

pizzas.append('vegi pizza')
friends_pizza.append('hawaian pizza')
for pizza in pizzas:
    print(f"One of my favorite pizzas is {pizza}.")
for pizza in friends_pizza:
    print(f"My friend likes {friends_pizza}")

One of my favorite pizzas is cheese pizza.
One of my favorite pizzas is pizza with bacon.
One of my favorite pizzas is white pizza.
One of my favorite pizzas is vegi pizza.
My friend likes ['cheese pizza', 'pizza with bacon', 'white pizza', 'hawaian pizza']
My friend likes ['cheese pizza', 'pizza with bacon', 'white pizza', 'hawaian pizza']
My friend likes ['cheese pizza', 'pizza with bacon', 'white pizza', 'hawaian pizza']
My friend likes ['cheese pizza', 'pizza with bacon', 'white pizza', 'hawaian pizza']

In [ ]:
#TIY 4-13
foods = ('rice', 'pizza', 'pasta', 'hot dogs', 'soup')
print("Origional food")
for food in foods:
    print(food)
#foods.append('nachos') rejected attempt at moddification of tuple
foods = ('rice', 'pizza', 'cake', 'nachos', 'soup')
print("\nRevised foods")
for food in foods:
    print(food)

Origional food
rice
pizza
pasta
hot dogs
soup

Revised foods
rice
pizza
cake
nachos
soup

In [ ]:
#TIY 4-14
#looked through pep8 guidelines
#TIY 4-15
#adjusted spacing to meet pep8 guidelines

In [65]:
#factorial n

def factorial(n):
    factor = list(range(1, n + 1))
    product = 1
    for number in factor:
        product *= number
    return product

print(factorial(5))
print(factorial(10))
print(factorial(20))
print(factorial(50))

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000

In [70]:
#Special factorial
def special_factorial(n):
    factor = list(range(1, n + 1))
    product = 1
    if n > 4:
        factor.remove(4)
    if n > 13:
        factor.remove(13)
    if n > 22:
        factor.remove(22)
    for number in factor:
        product *= number
    return product

print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))

30
907200
46786577080320000
26585745805693512275885146998308364374455980392448000000000000