<a href="https://colab.research.google.com/github/Lily-Derusso/CSC221_jderu004/blob/main/Quiz3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#bin()

In [200]:
def decimal_to_binary(decimal):
    #bin() converts an integer int its binary (base 2) counterpart
    binary = bin(decimal)
    print(f"{decimal} in binary is   {binary}\n")

decimal_to_binary(10)
decimal_to_binary(300)
decimal_to_binary(255)

10 in binary is   0b1010

300 in binary is   0b100101100

255 in binary is   0b11111111

#float()

In [ ]:
def make_float(x):
    #float() turns a numerical value into a floating point number with a decimal place
    print(float(x))

make_float(10)
make_float(225)
make_float(-13)
make_float(25)

10.0
225.0
-13.0
25.0

#hex()

In [ ]:
def convert_to_hex(base_ten):
    #hex converts a intiger (base 10) into hexadecimal form (base 16)
    if base_ten == int(base_ten):
        base_hex = hex(base_ten)
        print(f"Base 10: {base_ten}\n\tHexadecimal: {base_hex}")
    #here hex converts a float into hexadecimal
    elif base_ten == float(base_ten):
        base_hex = float.hex(base_ten)
        print(f"Base 10: {base_ten}\n\tHexadecimal: {base_hex}")

convert_to_hex(225)
convert_to_hex(666)
convert_to_hex(175424)
convert_to_hex(142)
convert_to_hex(3.141579)
convert_to_hex(17481.85)

Base 10: 225
	Hexadecimal: 0xe1
Base 10: 666
	Hexadecimal: 0x29a
Base 10: 175424
	Hexadecimal: 0x2ad40
Base 10: 142
	Hexadecimal: 0x8e
Base 10: 3.141579
	Hexadecimal: 0x1.921f42bb66730p+1
Base 10: 17481.85
	Hexadecimal: 0x1.1127666666666p+14

#input()

In [ ]:
def greeting():
    #input allows for user input to be taken and recorded as a variable
    name = input("Please enter a name.\t")
    print(f"Hello {name}! Nice to meet you!")

greeting()
greeting()
greeting()
greeting()

Please enter a name.	Lily
Hello Lily! Nice to meet you!
Please enter a name.	Oliver
Hello Oliver! Nice to meet you!
Please enter a name.	Kev
Hello Kev! Nice to meet you!
Please enter a name.	Logan
Hello Logan! Nice to meet you!

#int()

In [ ]:
def hex_to_base_ten(hex):
    #int is used to convert a value into an integer number
    x = int(hex, 16)
    print(f"Hex: {hex}\n\tBase 10: {x}")

hex_to_base_ten("E3")
hex_to_base_ten("2B47")
hex_to_base_ten("6A")
hex_to_base_ten("F12")

Hex: E3
	Base 10: 227
Hex: 2B47
	Base 10: 11079
Hex: 6A
	Base 10: 106
Hex: F12
	Base 10: 3858

#len()

In [ ]:
months = {
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December"
}

#len is used to return a number for how many items are in an object
print(len(months))

12

#locals()

In [ ]:
import random
def give_number():
    print(f"Random number: {random.randint(1,11)}\n\tDict of locals: {locals()}")

# here local variables are present
def give_number_with_locals(number_of_times):
    rolls = []
    for numbers in range(number_of_times):
        rolls.append(random.randint(1,11))
    #locals() is used to return a dictionary of current local objects
    print(f"Random numbers: {numbers}\n\tDict of locals: {locals()}")

# driver code
give_number()
give_number_with_locals(5)

Random number: 10
	Dict of locals: {}
Random numbers: 4
	Dict of locals: {'number_of_times': 5, 'rolls': [6, 2, 2, 11, 4], 'numbers': 4}

#map()

In [ ]:
def square(n):
    return n*n

#map() is used to apply a function to an iteraror
result = map(square, range(1,15))
#had to be converted to a set to make sense of the data
result = sorted(set(result))
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

#max()

In [ ]:
import random
def advantage(sides):
    rolls = []
    for roll in range(2):
        value = random.randint(1, sides)
        rolls.append(value)
    print(f"You rolled a d{sides}. The results are {rolls}")
    #max is used to find the highest value in an iterable
    outcome = (max(rolls))
    print(f"\tWith advantage you rolled a {outcome}\n")

advantage(20)
advantage(100)
advantage(12)
advantage(6)

You rolled a d20. The results are [20, 7]
	With advantage you rolled a 20

You rolled a d100. The results are [63, 38]
	With advantage you rolled a 63

You rolled a d12. The results are [1, 2]
	With advantage you rolled a 2

You rolled a d6. The results are [2, 4]
	With advantage you rolled a 4

#min()

In [ ]:
import random
def disadvantage(sides):
    rolls = []
    for roll in range(2):
        value = random.randint(1, sides)
        rolls.append(value)
    print(f"You rolled a d{sides}. The results are: {rolls}")
    #min is used to find the lowest value in an iterable
    outcome = (min(rolls))
    print(f"\tWith disadvantage you rolled a {outcome}\n")

disadvantage(20)
disadvantage(100)
disadvantage(12)
disadvantage(6)

You rolled a d20. The results are: [2, 3]
	With disadvantage you rolled a 2

You rolled a d100. The results are: [98, 55]
	With disadvantage you rolled a 55

You rolled a d12. The results are: [11, 10]
	With disadvantage you rolled a 10

You rolled a d6. The results are: [4, 3]
	With disadvantage you rolled a 3

#oct()

In [ ]:
def converter(base_ten):
    b = binary(base_ten)
    h = hexadecimal(base_ten)
    o = octal_decimal(base_ten)
    print(f"Decimal: {base_ten}{b}{h}{o}\n")

def octal_decimal(base_ten):
    #oct() is used to convert an integer into octal decimal
    octal = oct(base_ten)
    return f"\n\tOctal Decimal: {octal}"

def hexadecimal(base_ten):
    hexa = hex(base_ten)
    return f"\n\tHexadecimal: {hexa}"

def binary(base_ten):
    binary = bin(base_ten)
    return f"\n\tBinary: {binary}"

converter(14)
converter(9999)
converter(1257)
converter(255)

Decimal: 14
	Binary: 0b1110
	Hexadecimal: 0xe
	Octal Decimal: 0o16

Decimal: 9999
	Binary: 0b10011100001111
	Hexadecimal: 0x270f
	Octal Decimal: 0o23417

Decimal: 1257
	Binary: 0b10011101001
	Hexadecimal: 0x4e9
	Octal Decimal: 0o2351

Decimal: 255
	Binary: 0b11111111
	Hexadecimal: 0xff
	Octal Decimal: 0o377

#print()

In [ ]:
for number in range(1,16):
    #print sends a command to have what's printed in the Parentheses to the termanal
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

#range()

In [ ]:
import random
#range is used to return a sequence of numbers starting with thh first parameter
#and  ending with the number prior to the second parameter
for number in range (1,11):
    print(f"{number}: {random.randint(1,100)}")

1: 25
2: 74
3: 100
4: 33
5: 25
6: 73
7: 26
8: 95
9: 26
10: 42

#reversed()

In [ ]:
days = {
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
    "Sunday"
}
#reversed() returns the opposite iteration of how it would normaly be done
days = (reversed(sorted(days)))
days = set(days)
print(f"{days}\n")

for i in reversed(range(1,11)):
    print(i)

{'Thursday', 'Wednesday', 'Saturday', 'Monday', 'Sunday', 'Tuesday', 'Friday'}

10
9
8
7
6
5
4
3
2
1

#round()

In [132]:
def division_calc(x, y):
    return x / y

def rounding_calc(x,y):
    value = division_calc(x,y)
    #ound() takes 2 numbers and returns the value rounded to the nearest digit
    print(f"{value} rounded to {round(value)}")

rounding_calc(258, 24.5)
rounding_calc(18, 3.141579)
rounding_calc(255, 11.23)

10.53061224489796 rounded to 11
5.729602852578274 rounded to 6
22.707034728406054 rounded to 23

#set()

In [141]:
#set() stores a collection of objects that are unordered
pantry = {"Butter", "Milk", "Eggs", "Waffles", "Strawberies"}
#the .add() method adds an object to the set
pantry.add("Bread")
print("Food in pantry", pantry)
while len(pantry) > 0:
    #the .pop() method removes and stores the object seperatly
    out = pantry.pop()
    print(f"We ran out of {out} today :(")
print("We have run out of everything.")

Food in pantry {'Milk', 'Eggs', 'Waffles', 'Butter', 'Strawberies', 'Bread'}
We ran out of Milk today :(
We ran out of Eggs today :(
We ran out of Waffles today :(
We ran out of Butter today :(
We ran out of Strawberies today :(
We ran out of Bread today :(
We have run out of everything.

#sorted()

In [146]:
coke_flavors = {
    "Diet Coke",
    "Diet Coke Caffeine Free",
    "Caffeine Free Coca-Cola",
    "Coca-Cola Zero Sugar",
    "Coca-Cola Cherry",
    "Coca-Cola Vanilla",
    "Coca-Cola Cherry Vanilla",
    "Coca-Cola Citra",
    "Coca-Cola Lime",
    "Coca-Cola Mango",
    "Coca-Cola Spiced"
}
count = 1
#sorted() sorts the collection into a sorted list either alphabetically
#or numerically
for flavor in sorted(coke_flavors):
    print(f"{count}: {flavor}")
    count += 1

1: Caffeine Free Coca-Cola
2: Coca-Cola Cherry
3: Coca-Cola Cherry Vanilla
4: Coca-Cola Citra
5: Coca-Cola Lime
6: Coca-Cola Mango
7: Coca-Cola Spiced
8: Coca-Cola Vanilla
9: Coca-Cola Zero Sugar
10: Diet Coke
11: Diet Coke Caffeine Free

#str()

In [151]:
mix_of_numbers = {
    4,
    1,
    "six",
    15,
    "twenty"
}

for value in mix_of_numbers:
    try:
        value == int(value)
        mix_of_numbers.remove(value)
        #str() converts the value to a string
        #in this case so that the set mix_of_numbers can be sorted
        #because ints and str can't be sorted together
        new_value = str(value)
        mix_of_numbers.add(new_value)
    except:
        ValueError
        pass
print(sorted(mix_of_numbers))

['1', '15', '4', 'six', 'twenty']

#sum()

In [155]:
from random import randint
def random_num_added(number):
    numbers = []
    loop = 0
    while loop < number:
        numbers.append(randint(1,100))
        loop += 1
    #sum() adds all the numbers in a collection and returns the sum
    print(f"The numbers {numbers} added together is {sum(numbers)}\n")

random_num_added(4)
random_num_added(5)
random_num_added(2)
random_num_added(3)

The numbers [70, 78, 30, 66] added together is 244

The numbers [84, 58, 5, 41, 73] added together is 261

The numbers [14, 5] added together is 19

The numbers [99, 9, 14] added together is 122

#type()

In [172]:
movies = {"Revenge of the Sith": "Star Wars",
        "Lower Decks": "Star Trek"}
fave_numbers = (7, 13, 27)
fruit = ["Apple", "Honeydew", "Watermelon", "Strawberies"]
string = "Hello World"
num = 33

#type() returns the type of object the object listed as an argument is
message = (f"objects and their types:\n\tmovies: {type(movies)}\n\t")
message += (f"fave_numbers: {type(fave_numbers)}\n\t")
message += (f"fruit: {type(fruit)}\n\t")
message += (f"string: {type(string)}\n\t")
message += (f"num: {type(num)}")
print(message)

objects and their types:
	movies: <class 'dict'>
	fave_numbers: <class 'tuple'>
	fruit: <class 'list'>
	string: <class 'str'>
	num: <class 'int'>